body {
    background: #ff3968;
    width: 100%;
    font-size: 2rem;
    margin-top: 0;
    margin-left: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.background-div {
    background: url("/image/background/background-big.png");
    background-size: 35% 35%;
    -moz-background-size: 30% 30%;
}

.login-content {
    width: 100%;
}

.login-mobile {
    height: 5rem;
    line-height: 5rem;
    font-size: 3.4rem;
    color: black
}

.login-check-code{
    height: 5%;
    line-height: 5%;
    font-size: 3.4rem;
}

.safe-img {
    height: 5rem;
    line-height: 5rem;
}

.login-code {
    height: 5rem;
    line-height: 5rem;
    font-size: 3.4rem;
}

.login-get-code {
    height: 5rem;
    line-height: 5rem;
    font-size: 2.1rem;
    background:#6DDBFD
}

.login {
    height: 5rem;
    line-height: 5rem;
    font-size: 2.8rem;
    background:#539CD2;
    border-radius: 1.8rem;
}

.checkCode {
    background: white;
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    font-size: 4rem;
    border: 0;
    letter-spacing: 0.125rem;
    color: darkred;
}

.login-div {
    width:100%;
    height: 45%;
    text-align: center;
    padding-top: 20%;
}

.login-div img {
    width: 100%;
    height: 100%;
}

.login-content-div {
    height: 6rem;
    text-align: center;
}
