.my-body {
    background: url("/image/background/background.png");
    background-size: 100% 100%;
    margin: 0 0;
}

/* 自定义字体 */
/*@font-face {*/
    /*font-family: customFont;*/
    /*src: url('/css/font/font.ttf');*/
/*}*/

.toiletCat-msg {
    text-align: center;
    background: black;
    z-index: 900;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.7;
}

.toiletCat-msg-div {
    position:fixed;
    z-index: 905;
    text-align: center;
    top:25%;
    margin-left: 20%;
    width: 60%;
    border-radius: 0.9375rem;
    background: white;
    opacity: 1;
}

.toiletCat-msg-alert {
    font-size: 2rem;
    border-bottom: 0.0625rem solid saddlebrown;
}

.toiletCat-msg-text {
    margin-top: 10%;
    font-size: 2.25rem;
    opacity: 1;
}

.toiletCat-msg-button {
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
    font-size: 3.25rem;
    background: yellowgreen;
    border-radius: 0.9375rem;
    opacity: 1;
}

.toiletCat-confirm-sure-button {
    float: left;
    width: 37.5%;
    margin-left: 10%;
    margin-top: 10%;
    font-size: 3.25rem;
    background: yellowgreen;
    border-radius: 0.9375rem;
    opacity: 1;
}

.toiletCat-confirm-cancel-button {
    float: left;
    width: 37.5%;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 3.25rem;
    background: indianred;
    border-radius: 0.9375rem;
    opacity: 1;
}

.index-body-div {
    overflow:scroll;
}

.index-header {
    background:#487770;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:99;
}

.default-header {
    height: 7%;
    width:100%;
    background: url("/image/background/header.png");
    background-size: 100% 100%;
}

.index-default-header {
    position:fixed;
    left:0;
    top:0;
    z-index:99;
    background:#487770;
}

.index-footer {
    position:fixed;
    left:0;
    bottom:0;
    z-index:99;
    background:#487770;
    border: 0.0625rem solid saddlebrown;
}

.footer-height {
    height: 8%;
    width:100%;
}

.background-img {
    height: 100%;
}

.index-center {
    text-align: center;
}

.inner-div {
    overflow:hidden;
    line-height: 3.75rem;
}

.nav-header-text {
    float: left;
    margin-left: 30%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2%;
}

.in-use {
    border-radius: 0.75rem;
    background: red;
}

.not-in-use {
    border-radius: 0.75rem;
    background: greenyellow;
}

.default-height {
    height: 8%;
    width:100%;
}

.default-height-footer {
    float: left;
    height: 10%;
    width:100%;
}

.machine-panel {
    margin: 0.3125rem 0.3125rem;
    border-radius: 1.125rem;
    -webkit-box-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, .05);
    box-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, .05)
}

.toy-img {
    border-top: 0.1875rem solid #faa44d;
    border-left: 0.3125rem solid #faa44d;
}

.machine-col-xs-6 {
    position: relative;
    min-height: 0.0625rem;
    padding-left: 0.9375rem;
    float: left;
    width: 50%
}

.custom-font {

}

.toiletCat-col-xs-6 {
    background: url("/image/background/element_background.png");
    background-size: 100% 100%;
    position: relative;
    min-height: 0.0625rem;
    float: left;
    margin: 0 1%;
    width: 48%
}

.footer-button {
    float: left;
    text-align: center;
    margin-left: 8%;
    margin-right: 15%;
    height: 3.75rem;
    bottom: 0;
}

.footer-button-diff {
    margin-left: 6%;
    margin-right: 17%;
}

.footer-img {
    z-index: 999;
    position: fixed;
    bottom: 0;
    height: 8%;
    width: 12%;
}

.footer-diff {
    width: 15%;
}

.footer-text {
    bottom: 0;
    padding: 0;
    margin: 0;
}

.nav-center {
    text-align: center;
    vertical-align: middle;
}

.index-img {
    border-radius: 0.9375rem;
}

.my-inline-right {
    margin-right: 10%
}

.my-inline-left {
    margin-left: 10%
}

.my-bottom-line {
    border-bottom: 0.0625rem solid grey;
    margin-bottom: 0.0625rem;
}

.my-top-line {
    border-top: 0.0625rem solid grey;
    margin-top: 0.3125rem;
}

.my-edit-right {
    margin-left: 50%;
    margin-right: 3%;
}

.my-margin-bottom {
    margin-bottom: 0.3125rem;
}

.div-radius {
    border-radius: 0.9375rem;
}

.my-form-control {
    width:60%;
    height: 2.5rem;
    padding: 0rem 0.75rem;
    font-size: 1.875rem;
    line-height: 2.5rem;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0;
    border-radius: 0.25rem;
    -webkit-box-shadow: inset 0 0.0625rem 0.0625rem rgba(0,0,0,.075);
    box-shadow: inset 0 0.0625rem 0.0625rem rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.my-select-form-control {
    width:30%;
    height: 2.5rem;
    padding: 0rem 0.75rem;
    font-size: 1.3rem;
    line-height: 2.5rem;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    -webkit-box-shadow: inset 0 0.0625rem 0.0625rem rgba(0,0,0,.075);
    box-shadow: inset 0 0.0625rem 0.0625rem rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.address-margin-bottom {
    margin-bottom: 0.375rem;
}

.return-button {
    transform: rotate(-90deg);
    float: left;
    margin-left: 2%;
    margin-top:1%;
}

.login-button {
    float: left;
    margin-left: 2%;
}

.nav-text {
    float: left;
    margin-left: 33%;
}

.user-info {
    height: 100%;
    width: 100%;
}

.user-info-div-img {
    padding-top: 1%;
    height: 100%;
    width: 7%;
    float: left;
    margin-left: 3%;
}

.user-info-div-text {
    height: 100%;
    width: 8%;
    padding-top: 1%;
    float: left;
    margin-left: 3%;
}

.user-info-div-user-coin {
    height: 60%;
    width: 28%;
    line-height: 100%;
    border-radius: 1.875rem;
    background: whitesmoke;
    float: right;
    margin-top:1%;
    margin-right: 1%;
}

.user-info-div-user-coin img {
    height: 100%;
    margin-top:0;
    margin-right: 3%
}

.user-info-div-user-coin div {
    float: right;
    width: 60%;
    margin: 5% 5%;
    font-size: 1.3rem;

}

.user-img {
    width: 100%;
    border-radius: 50%;
    border: 0.0625rem solid white;
}
