.catch-toy-row {
    float: left;
    width: 90%;
    margin-left: 5%;
    background: url("/image/userCatch/catch_record_background.png");
    background-size: 100% 100%;
    margin-top: 2%;
    color: #a7652f;
}

.catch-toy-div {
    width: 100%;
    float: left;
    height: 100%;
    margin-left: 5%;
}

.catch-toy-img {
    margin: 3% 2%;
    float: left;
    width: 30%;
    height: 100%;
}

.catch-toy-img img {
    border-radius: 1.875rem;
    float: left;
    height: 87%;
    max-width: 100%;
    margin-left: 5%;
}

.catch-toy-time {
    float: left;
    margin-left: 5%;
    margin-top: 2.5%;
}

.catch-toy-result {
    margin-top: 5%;

}