.ac_results {
        padding: 0;
        border: 0.0625rem solid WindowFrame;
        background-color: Window;
        overflow: hidden;
        z-index: 99999;
}

/* www.bvbsoft.com  */
.ac_results ul {
        width: 100%;
        list-style-position: outside;
        list-style: none;
        padding: 0;
        margin: 0;
        float:left;
}
 
.ac_results iframe {
        display:none;/*sorry for IE5*/
        display/**/:block;/*sorry for IE5*/
        position:absolute;
        top:0;
        left:0;
        z-index:-1;
        filter:mask();
        width: 187.5rem;
        height: 187.5rem;
}
 
.ac_results li {
    clear:both;
    margin: 0;
    padding: 0.125rem 0.3125rem;
    cursor: default;
    display: block;
    font-size: 0.75rem;
    line-height: 1rem;
    overflow: hidden;
}

.ac_results li p{
   float:left;
   margin:0;
   padding:0;
}

.ac_results li span{
   margin:0;
   padding:0;
   float:right;
   font-size: 0.75rem;
}

.ac_loading {

}
 
.ac_over {
        background-color: Highlight;
        color: HighlightText;
}