.index-body-div {

    overflow:scroll;
}

.index-header {
    position:fixed;
    left:0;
    top:0;
    z-index:99;
    background:#6DDBF6;
    border-radius: 15px;
    border: 1px solid saddlebrown;
}

.index-default-header {
    position:fixed;
    left:0;
    top:0;
    z-index:99;
    background:#6DDBF6;
}

.index-footer {
    position:fixed;
    left:0;
    bottom:0;
    z-index:99;
    background:#6DDBF6;
    border-radius: 15px;
    border: 1px solid saddlebrown;
}

.index-center {
    text-align: center;
}

.inner-div {
    overflow:hidden;
    line-height:60px;
}

.in-use {
    border-radius: 12px;
    background: red;
}

.not-in-use {
    border-radius: 12px;
    background: greenyellow;
}

.default-height {
    height: 6%;
    width:100%;
}

.machine-panel {
    margin: 5px 5px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 18px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.toy-img {
    border: 1px solid gray;
}

.machine-col-xs-6 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    float: left;
    width: 50%
}

.machine-col-xs-6-left {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    float: left;
    width: 50%
}

.machine-col-xs-6-right {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    float: left;
    width: 50%
}

.footer-button {
    float: left;
    text-align: center;
    margin: 2px 10%;
    height: 60px;
    margin-inside: 5%;
}

.footer-img {
    z-index: 999;
    position: fixed;
    bottom: 3%;
}

.footer-text {
    bottom: 0px;
    padding: 0px;
    margin: 0px
}

.banner-box {
    width: 100%;
    position:relative;
    overflow:hidden;
    height:200px;
}

.banner {
    width:100%; /*图片宽度*/
    height: 100%;
    position:absolute;
}

.nav-center {
    text-align: center;
    vertical-align: middle;
}

.index-img {
    border-radius: 15px;
}

.button-user-toy {
    height: 60px;
    background: url('/image/button/user-toy.ico') no-repeat;
}

.my-inline-right {
    margin-right: 10%
}

.my-inline-left {
    margin-left: 10%
}

.my-bottom-line {
    border-bottom: 1px solid grey;
    margin-bottom: 1px;
}

.my-top-line {
    border-top: 1px solid grey;
    margin-top: 5px;
}

.my-edit-right {
    margin-left: 60%;
    margin-right: 3%;
}

.my-margin-bottom {
    margin-bottom: 5px;
}

.div-radius {
    border-radius: 15px;
}

.my-form-control {
    width:60%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.my-select-form-control {
    width:30%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.address-margin-bottom {
    margin-bottom: 6px;
}