.user-address-line {
    width: 90%;
    margin-left: 5%;
    background: url("/image/userAddress/address_background.png");
    background-size: 100% 100%;
    margin-top: 1%;
    margin-bottom: 2%;
    color: #a7652f;
    font-size: 0.8rem;
}

.user-address-line-default {
    width: 90%;
    margin-left: 5%;
    background: url("/image/userAddress/address_background.png");
    background-size: 100% 100%;
    color: #a7652f;
}

.user-address-line-onclick {
    border-radius: 1.2rem;
    border: 0.2rem solid red;
}

.user-address-inline-left {
    margin-top: 2%;
    height: 15%;
    margin-right: 5%
}

.user-address-inline-right {
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 5%
}

.user-address-text-line {
    padding-left: 3%;
    padding-bottom: 1%;
}

.user-address-text-line-first {
    padding-top: 5%;
}

.user-address-text-line-end {
    padding-bottom: 5%;
}

.user-address-button {
    padding-bottom: 2%;
}

.user-address-edit {
    margin-left: 50%;
    margin-right: 3%;
}

.add-user-address {
    text-align: center;
    margin-top: 2%;
    height: 100%;
}

.my-form-control {
    width:60%;
    height: 1.6rem;
    padding: 0 0.75rem;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0;
    border-radius: 0.25rem;
    -webkit-box-shadow: inset 0 0.0625rem 0.0625rem rgba(0,0,0,.075);
    box-shadow: inset 0 0.0625rem 0.0625rem rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.my-select-form-control {
    width:30%;
    height: 1.5rem;
    padding: 0 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    -webkit-box-shadow: inset 0 0.0625rem 0.0625rem rgba(0,0,0,.075);
    box-shadow: inset 0 0.0625rem 0.0625rem rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}