.user-address-line {
    background: #7CFC00;
    border-radius: 1.875rem;
    border: 0.125rem solid #666615;
}

.user-address-line-default {
    background: #7CFC00;
    border-radius: 1.875rem;
    border: 0.0625rem solid silver;
}