.user-address-line {
    width: 90%;
    margin-left: 5%;
    background: url("/image/userAddress/address_background.png");
    background-size: 100% 100%;
    margin-top: 2%;
    color: #a7652f;
}

.user-address-line-default {
    background: gainsboro;
}

.user-address-inline-left {
    margin-top: 2%;
    height: 15%;
    margin-right: 5%
}

.user-address-inline-right {
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 5%
}

.user-address-text-line {
    padding-left: 3%;
    padding-top: 3%;
    margin-bottom: 0.3125rem;
}

.user-address-button {
    padding-bottom: 2%;
}

.user-address-edit {
    margin-left: 50%;
    margin-right: 3%;
}

.add-user-address {
    text-align: center;
    margin-top: 2%;
    height: 100%;
}