.recharge-first-line {
    float: left;
    margin-top: 3%;
    margin-left: 5%;
    width: 100%;
    height: 10%;
}

.recharge-selected {
    border-bottom: 0.0625rem solid saddlebrown;
}

.recharge-button {
    width: 80%;
    margin-left: 10%;
    margin-top: 105%;
    font-size: 3.25rem;
    background: yellowgreen;
    border-radius: 0.9375rem;
    text-align: center;
}

.rechargeReturn {
    height: 60%;
    width: 60%;
}

.recharge-user-coin {
    float: left;
    background: white;
    width: 25%;
    border-radius: 1.25rem;
    margin-left: 18%;
}

.recharge {
    z-index: 99;
    position: fixed;
    background: #FEFE9E;
    left: 0;
    width: 100%;
    height: 100%;
}

.recharge-coin {
    float: left;
    margin-top: 10%;
    margin-left: 10%;
    font-size: 1.3rem;
    margin-bottom: 8%;
}

.recharge-coin-first {
    float: left;
    margin-top: 10%;
    margin-left: 3%;
    font-size: 1.2rem;
    margin-bottom: 6%;
}

.recharge-coin-limit {
    float: left;
    margin-top: 10%;
    margin-left: 3%;
    font-size: 1.5rem;
    margin-bottom: 6%;
}

.recharge-block {
    border-radius: 1.25rem;
    margin-top: 3%;
    float: left;
    border-bottom: 0.1875rem solid #D7D7D7;
    width: 40%;
    margin-left: 7%;
    background: white;
    padding-bottom: 4%;
}

.recharge-disabled {
    border-radius: 1.25rem;
    margin-top: 5%;
    float: left;
    border-bottom: 0.1875rem solid #D7D7D7;
    width: 40%;
    margin-left: 7%;
    background: gainsboro;
    padding-bottom: 4%;
}

.recharge-limit-div {
    float: right;
    height: 2%;
}

.recharge-limit {
    float: right;
}

.recharge-first {
    float: right;
    width: 30%;
}

.recharge-money {
    color: red;
    float: left;
    margin-top: 5%;
    text-align: center;
    background: #FEFE9E;
    font-size: 1.5rem;
    width: 70%;
    margin-left: 15%;
    border-radius: 1.25rem;
}

.recharge-money-disabled {
    color: gray;
    float: left;
    margin-top: 5%;
    text-align: center;
    background: gainsboro;
    font-size: 1.5rem;
    width: 70%;
    margin-left: 15%;
    border-radius: 1.25rem;
}

.recharge-coin-text {
    float: left;
    margin-left: 25%;
    font-size: 1.5rem;
    color: #ccc;
    width: 100%;
}
