.user-spend-row {
    float: left;
    width: 100%;
    margin-top: 2%;
    border-radius: 1.875rem;
    text-align: center;
}

.user-spend-div {
    margin: auto auto;
    text-align: center;
    height: 100%;
    width: 70%;
    border: 0.1875rem solid black;
    border-radius: 1.875rem;
    background: white;
}

.user-spend-title {
    font-size: 2rem;
    border-bottom: 0.0625rem solid saddlebrown;
}

.user-spend-coin {
    margin-top: 5%;
    font-size: 2.25rem;
    opacity: 1;
}

.user-spend-result {
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
    font-size: 2.25rem;
    border-radius: 0.9375rem;
    opacity: 1;
}